:root{
    --primary-color: #6bdaac;
    --secondary-color: #231F7F;
    --text-color: black;
}
body{
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
button:hover{
    box-shadow: 0 0.5em 0.5em -0.4em rgb(2, 2, 1);
    transition-duration: 1s;
    color: rgb(0, 0, 0);
}
.pokemon-button{
    background-color: var(--primary-color);
    border-color:  rgb(0, 0, 0);
    border-radius: 10px;
    font-size: 18px;
    font-family: inherit;
    margin: 5px auto auto;
    height: 50px;
    width: 150px;
}
.pokemon-button:hover{
    background-color: rgb(223, 255, 17);
    box-shadow: 0 0.5em 0.5em -0.4em rgb(2, 2, 1);
    color: black;
    transition-duration: 1s;
    opacity: 0.8;
    cursor: pointer;
}
.navbar-custom, .navbar-brand, .nav-link{
    background-color: var(--primary-color);
    color: rgb(0, 0, 0);
}
.list-group-item{
    background-color: var(--secondary-color);
    border: none;
}
.pikachu{
    display: block;
    margin: auto auto;
    margin-top: 50px;
    text-align: center;
}
.pokemon-list{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit,200px);
    text-align: center;
}
.pokemon-img{
    width: 150px;
    height: 150px;
}
h1{
    text-shadow: 1px 1px 1px rgb(185, 234, 5);
    text-align: center;
    margin-top: -55px;
}
.modal-header{
    background: var(--secondary-color);
    border: none;
}
.modal-body{
    background: var(--secondary-color);
    text-align: center;
}
.modal-body p{
    text-shadow: 0.5px 0.5px 0.5px black;
}
.modal-content .close{
    color: rgb(249, 249, 249);
}
.modal-footer{
    background-color: #b8edd7;
    border-color: var(--secondary-color);
}
.btn-outline-info {
    color: rgb(40, 128, 191);
    border-color: rgb(40, 128, 191);
}
form, button {
    border-radius: 6px;
}
@media all and (max-width: 400px){
    .pokemon-list{
        display: grid;
        text-align: center;
        grid-template-columns: repeat(auto-fit, 150px); 
    }
    .pokemon-button{
        width: 120px;
        font-size: 15px;
    }
}